<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="StoreX_ConnStr" 
             connectionString="Data Source=LAPTOP-BPU8DOD4\SQLEXPRESS;Initial Catalog=Store_X_DB;Integrated Security=True" 
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>